
.navbar ul li a:hover{
    color: blue;
}  
.logo-img{
    margin-top: 20px;
    margin-left: 50px;
}

.logo{
    height: 50px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 10px;
    
}
.navbar ul li{
    margin: 10px;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
}
h1{
    text-align: center;
}
.button{
    margin: 10px 590px;
}
.banner-image{
    margin: 10px 370px;
}
.background{
    background-image: url(images/hero-bg.png);
}
.background-color{
    background-color: rgb(51, 51, 224);
}


@media (max-width: 767px){
}
